.loading {
    animation: loading-bar forwards 4s ;
}

@keyframes loading-bar {
    0% {
        width: 0px;
        border-radius: 0 0 0px 8px;
    }
    25% {
        width: 250px;
        border-radius: 0 0 0px 8px;
    }
    50% {
        width: 650px;
        border-radius: 0 0 0px 8px;
    }
    75% {
        width: 1050px;
        border-radius: 0 0 0px 8px;
    }
    99% {
        border-radius: 0 0 0px 8px;
    }
}

@media (max-width: 1300px) {
    @keyframes loading-bar {
        0% {
            width: 0px;
            border-radius: 0 0 0px 8px;
        }
        25% {
            width: 200px;
            border-radius: 0 0 0px 8px;
        }
        50% {
            width: 550px;
            border-radius: 0 0 0px 8px;
        }
        75% {
            width: 700px;
            border-radius: 0 0 0px 8px;
        }
        99% {
            border-radius: 0 0 0px 8px;
        }
    }
    
}


@media (max-width: 790px) {
    @keyframes loading-bar {
        0% {
            width: 20vw;
            border-radius: 0;
        }
        25% {
            width: 40vw;
            border-radius: 0;
        }
        50% {
            width: 70vw;
            border-radius: 0;
        }
        75% {
            width: 80vwpx;
            border-radius: 0;
        }
        99% {
            border-radius: 0;
            width: 99vw;
        }
    }
    
}