@media (max-width: 1300px){
    .container {
        width: 980px;
    }

    .box {
        width: 420px;
    }

    .table-result .title {
        font-size: 64px;
        letter-spacing: 8px;
        
    }

    .table-result .result {
        font-size: 48px;
        letter-spacing: 8px;
    }

    .loading {
        top: 672px;
        width: 980px;
    }
}



@media (max-width: 1000px){
    .container {
        width: 760px;
    }

    .box {
        width: 320px;
    }

    .table-result .title {
        font-size: 52px;
        letter-spacing: 6px;
    }

    .table-result .result {
        font-size: 36px;
        letter-spacing: 6px;
    }

    .loading {
        top: 618px;
        width: 760px;
        height: 10px;
    }
}


@media (max-width: 790px){
    body {
        margin: 0;
        background: #A49AFC;
    }
    .container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        background: transparent;
    }

    .box {
        width: 100vw;
        margin: 0 0 40px 0;
    }

    .box:nth-child(-n + 2) {
        margin-bottom: 40px;
    }

    .box:last-child{
        margin-bottom: 0;
    }

    .table-result {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 60px 0px;
    }

    .table-result .title {
        font-size: 36px;
        letter-spacing: 6px;
        text-align: center;
        margin-bottom: 18px;
    }

    .table-result .result {
        font-size: 24px;
        letter-spacing: 6px;
        text-align: center;
    }

    .loading {
        top: 0px;
        width: 100%;
        border-radius: 0;
        height: 5px;
    }
}